$text_color: white;
$back_color: #09b880;

body{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

.header{
    background-color: $back_color;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    
    a{
        color: $text_color; 
        text-decoration: none;
    }  

}

.header_right{
    color: $text_color;
    text-decoration: none;
    margin: auto 0;
    
    
    li{
        padding: 0 10px;
        display: inline;
    }
    

}

footer{
    background-color: $back_color;
    color: $text_color;
    padding: 10px 0;
    
    
    ul{
        text-align: center;
    }
        
    
    li{
        padding: 0 10px;
        display: inline;
    }
    
    .Copyright{
        text-align: center;
    }
}


    