<h2>ゆきのオススメ化粧品一覧</h2>
<div class="block">
    <% @products.each do |product| %>
        <div class="products">
            <h3><%= product.name %></h3>
            <div><%= image_tag(product.image) %></div>
            <%= link_to "詳細", "/products/#{product.id}", class: "btn", method: :get %>
        </div>
    <% end %>
</div>